@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 0px;
  /*background-image: url("bg.jpg");
  color: white; */
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: right;
}
